.container__login {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../../img/login/background-min.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container__login #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container__login #scene .layer .image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../../img/register/background-min.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container #scene .layer .image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box__register {
  position: absolute;
  left: 2%;
  top: 5%;
}

@media screen and (min-width: 425px) {
    .box__register {
        left: 5%;
        top: 10%;
      }
}

@media screen and (min-width: 480px) {
    .box__register {
        left: 10%;
        top: 10%;
      }
}

@media screen and (min-width: 768px) {
    .box__register {
        left: 15%;
        top: 10%;
      }
}

@media screen and (min-width: 1280px) {
    .box__register {
        left: 30%;
        top: 20%;
      }
}

.register {
  position: relative;
  margin: auto auto;
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 425px) {
    .register {
        width: 380px;
      }
}

@media screen and (min-width: 768px) {
    .register {
        width: 500px;
        padding: 40px 60px;
      }
}

.register h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.register__inputbox {
  position: relative;
  width: 100%;
}

.register__input {
  position: relative;
  width: 260px;
  padding: 15px 10px;
  outline: none;
  font-size: 1.25em;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .register__input {
        width: 420px;
      }
}

.register__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 20px;
  font-size: 1.25em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.register__input:focus ~ label {
  top: -38px;
  left: 0;
  color: #03e9f4;
  font-size: 1em;
}

.register__input:valid ~ label {
  top: -38px;
  left: 0;
  color: #03e9f4;
  font-size: 1em;
}

.login__input {
  position: relative;
  width: 260px;
  padding: 15px 10px;
  outline: none;
  font-size: 1.25em;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .login__input {
      width: 420px;
    }
}

.login__input:focus ~ label {
  top: -38px;
  left: 0;
  color: #660c39;
  font-size: 1em;
}

.login__input:valid ~ label {
  top: -38px;
  left: 0;
  color: #660c39;
  font-size: 1em;
}

.register__button {
  position: relative;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #2c3c99, #00b0ff);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 500;
  box-shadow: none;
  height: 55px;
}

.login__button {
  position: relative;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #660c39, #c53963);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 500;
  box-shadow: none;
  height: 55px;
}

.register__button:focus,
.register__button:hover,
.login__button:focus,
.login__button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.register__link {
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  color: #fff;
}
